[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/composingcap/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "source/Fusion"]
	path = source/Fusion
	url = https://github.com/xioTechnologies/Fusion.git
